.controles{
    background: #F9FAFB;
}

.controles .controles-cabezera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 4px;
}
.controles .controles-cabezera button{
    background: #000045 ;
    background: #05019e;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 4px 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: background .5s;
    box-sizing: border-box;
    transition: all .5s;
}
.controles .controles-cabezera button:hover {
    background: #000045;
    transform: scale(1.04);
}


.modal-controles-Bldm {
    /*position: fixed;*/
    position: fixed;
    top: 0;
    left: 10%;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
@media (max-width: 768px) {
    .modal-controles-Bldm{
        left: 0;
    }
    
}

    