.updateriesgo {
    background: white;
 }
 .updateriesgo .text-titulo {
     width: 100%;
     box-sizing: border-box;
     margin-bottom: 15px;
 }
 .updateriesgo .text-titulo .opcion-riesgo {
     display: flex;
     gap: 10px;
     
 }
  
 
 .updateriesgo .lista-opciones select{
    width: 100%;
    padding: 10px;
    border: 1px solid grey;
    outline-color: blueviolet; /*color de border al seleccionar input*/ 
    border-radius: 8px;   
    color: aliceblue;
    background: #393960;
}

.updateriesgo .lista-opciones select .ry{
    color: rgb(90, 89, 89);
    background: white;
}






.updateriesgo button {
    position: absolute;
    background: #172026;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background .5s;
    box-sizing: border-box;
    transition: all .5s;
    bottom: 5px;
    right: 125px;
}




.updateriesgo button:hover {
    background-color: #05019e;
    transform: scale(1.1);
}
