.reportes {
  width: 100%;
  background: linear-gradient(to bottom, #02040e, #111628);
  display: flex;
  justify-content: center;
  padding: 1% 1%;
  box-sizing: border-box;
}

.reportes .cuerpo-reportes {
  width: 98%;
  /*background: #F9FAFB;*/
}

.reportes .cuerpo-reportes .reporte-titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  flex-wrap: wrap;
  background: linear-gradient(to right, #111628, #02040e);
  border-radius: 8px;
}

.reportes .cuerpo-reportes .reporte-titulo {
  color: #dcdcdc;
  text-transform: uppercase;
}

.reportes .reporte-filtro-fecha {
  padding: 15px 0px;
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.reportes .reporte-filtro-fecha .f1 {}

.reportes .reporte-filtro-fecha .f1 input {
  box-sizing: border-box;
  border: none;
  padding: 8px 6px;
  border-radius: 3px;
  outline-color: blue;
}

.reportes .reporte-filtro-fecha .f2 {
  display: flex;
  gap: 20px;
}

.reportes .reporte-filtro-fecha .f2 button {
  border: none;
  font-weight: bold;
  border-radius: 3px;
  background-color: #04BFAD;
  color: white;
}

.reportes .reporte-filtro-fecha .f2 button:first-child {
  background-color: black;
  color: #04BFAD;
}
.reportes .reporte-filtro-fecha .f3 {
  color: #04BFAD;
}

/* Filtro colores*/
.reportes .reporte-filtro-color {
  margin-top: 3px;
  display: flex;
  gap: 5px;
}


.reportes .reporte-filtro-color .c1 {
  width: 30px;
  height: 30px;
  background-color: #60bf52;
  border-radius: 50%;
  cursor: pointer;
}

.reportes .reporte-filtro-color .c2 {
  width: 30px;
  height: 30px;
  background-color: #FFC043;
  border-radius: 50%;
  cursor: pointer;
}

.reportes .reporte-filtro-color .c3 {
  width: 30px;
  height: 30px;
  background-color: #F27649;
  border-radius: 50%;
  cursor: pointer;
}

.reportes .reporte-filtro-color .c4 {
  width: 30px;
  height: 30px;
  background-color: #F25252;
  border-radius: 50%;
  cursor: pointer;
}

/*Cuadro mapa calor*/
.reportes .reporte-calor {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  gap: 1%;
  width: 100%; 
}

.reportes .reporte-calor .rmapx {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  box-sizing: border-box;
  background: #ffffff33;
  border-radius: 8px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(25px);
  padding: 1% 1%;
}


.reportes .reporte-calor .map-general {
  padding: 1% 1%;
  margin-top: 20px;
  width: 50%;
  font-size: 14px;
  /*background-color: #0f5ead;*/
  background: rgb(238, 228, 228);
  background: white;
  border-radius: 8px;
}

.reportes .reporte-calor .map-detalles .table-map-procesos ul li {
  cursor: pointer;
}

.reportes .reporte-calor .map-detalles .map-save {
  border: 1px solid rgb(7, 27, 90);
  width: 18%;
  text-align: center;
  border-radius: 5px;
}

.reportes .reporte-calor .map-detalles .map-ty {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.reportes .reporte-calor .map-detalles .table-map {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.table-map-headers {
  position: sticky;
  top: 0;
  z-index: 0;
  background: white;
  color: black;
  font-weight: bolder;
}

.table-map-headers tr:last-child th {
  border-bottom: 2px solid rgb(13, 3, 49);
  /* Establece el estilo y color de la línea de separación */
}

.table-map-line {
  width: 100%;
  background: rgb(104, 228, 104);
  padding: 5px;
}



.table-map th,
.table-map td {
  padding: 12px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-map .td-unico {
  display: flex;
  justify-content: center;
}

.table-map .td-unico span {
  text-align: center;
  width: 80%;
  border-radius: 5px;
  font-weight: bolder;
}



.table-map tr:nth-child(even) {
  background-color: #f2f2f2;
}


@media (max-width: 940px) {


  .reportes .reporte-calor {
    flex-direction: column;
    align-items: center;
  }

  .reportes .reporte-calor .map-general {
    width: 100%;
  }

}

@media (max-width: 768px) {}

@media (max-width: 480px) {}