.riesgo-container {
    
    padding: 1% 1%;
    background-color: #f3f5f7;
    background: linear-gradient(to bottom, #02040e, #111628);
 
}

.riesgo-container .btn-flot {

}

.riesgo-container .F {
    position: relative;
    width: 100%;
    background: greenyellow;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.modalBldm{
    /*position: fixed;*/
    position: fixed;
    top: 0;
    left: 10%;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }

.riesgo-container .p{
    width: 50%;
}


.riesgo-container .riesgo-desplegable .B-riesgot .head-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    flex-wrap: wrap;
    background: linear-gradient(to right, #111628, #02040e);
    border-radius: 8px;
}
.head-title h2{
    color: #dcdcdc;
    text-transform: uppercase;
}



.riesgo-container .riesgo-desplegable p {
    color: #dcdcdc;
}

.riesgo-desplegable .btn-mas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.riesgo-desplegable .B-riesgo-descripcion {
    overflow: hidden;

}


@media (max-width: 768px) {
    .modalBldm{
        left: 0;
    }
    
}

@media (max-width: 480px) {
    
    
}