.causas{
    padding: 1% 1%;
    /*background: #F9FAFB;*/
    /*background: linear-gradient(to bottom, #02040e, #111628);*/
}

.causas .causas-cabezera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    flex-wrap: wrap;
    background: linear-gradient(to right, #111628, #02040e);
    border-radius: 8px;
}
.causas .causas-cabezera h2{ 
    color: #dcdcdc;
    text-transform: uppercase;
}
.causas .causas-cabezera button{
    color: #dcdcdc;
    text-transform: uppercase;
    padding: 7px 7px;
    border: 1px solid #04BFAD;
    border-radius: 8px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
    transition: background .5s;
    box-sizing: border-box;
    transition: all .5s;
}
.causas .causas-cabezera button:hover {
    transform: scale(1.04);
}

.causas p {
    color: #dcdcdc;
}

.cont-table-causas{
    background: linear-gradient(to bottom, #111628, #02040e);
    padding: 10px 10px;
    border-radius: 8px;
}


.modal-causas-Bldm {
    /*position: fixed;*/
    position: fixed;
    top: 0;
    left: 10%;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
@media (max-width: 768px) {
    .modal-causas-Bldm{
        left: 0;
    }
    
}

    