.calor {
    background: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    /*padding: 20px;*/
    box-sizing: border-box;
    border-radius: 5px;
}

.calor:hover {
    transform: scale(1.1);
}

.calor .circle-c {
    box-sizing: border-box;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 768px) {
    
}

@media (max-width: 480px) {
    .calor {
        width: 65px;
        height: 65px;

    }
}